<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>Creators</title>
    <%= render 'layouts/head' %>
  </head>

  <body class="h-full">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>